@font-face {
  font-family: "poiret";
  src: url("../font/PoiretOne-Regular.ttf");
}

body, html {
  padding: 0;
  margin: 0;
  background-color: #f9faf5 !important;
  overflow-x: hidden;
}

.post {
  padding: 0;
  background-color: #e9e9e9;
  margin-bottom: 10px;
  font-family: poiret;
  border-radius: 15px;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  cursor: pointer;
  height: 177px;
  width: 100%;
}

.post:hover {
  background-color: #ccd0d7;
}

.post_headline {
  background-color: #aad1d9;
  margin: 0;
  padding: 10px 30px 10px 30px;
  font-size: 1.5em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.post_content {
  padding: 10px 30px 15px 30px;
  height: 96px;
  overflow: hidden;
  line-height: 22px;
}

.post a {
  outline: none;
  color: #000;
}

.post a:hover {
  color: #000;
  text-decoration: none;
}

.language {
  padding: 0 !important;
}

.language_list {
  background-color: #e9e9e9;
  border-radius: 15px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.language_list a {
  width: 100%;
  color: #000;
  font-family: poiret;
  padding: 3px 0 5px 30px;
  font-size: 1.3em;
}

.language_list a:hover {
  background-color: #ccd0d7;
  text-decoration: none;
  color: #000;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand img {
  width: 350px;
}

.nav-item {
  font-size: 1.6em;
  font-family: poiret;
  color: #000;
  margin-left: 20px;
}

.likes {
  font-size: 0.9em;
}

.likes img {
  margin: 0 3px 7px 0;
}

.page_headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: poiret;
  font-size: 2.8em;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page_headline_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page_content {
  font-family: poiret;
  font-size: 1.5em;
  text-align: justify;
}

.page_likes {
  font-size: 0.8em;
}

.page_likes img {
  width: 35px;
  margin-bottom: 10px;
}

.line {
  width: 7px;
  height: 52px;
  border-radius: 10px;
  background-color: #aad1d9;
  margin-right: 10px;
}
